.page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

.pageHeader {
  background-color: #c5c9ef;
  padding: 24px 0;
}

.pageHeader h1 {
  margin: 0 0 12px 0;
  flex-grow: 0;
}

.pageContent {
  flex-grow: 1;
  background-color: #e4e7f6;
  padding: 24px 0;
}

.pageFooter {
  background-color: #c5c9ef;
  padding: 24px 0;
}

.App {
  text-align: center;
}

.person {
  padding: 5px 20px;
  font-weight: 600;
  border-bottom: solid 1px #dedede;
  cursor: pointer;
}

.person:not(:last-child) {
  margin-bottom: 5px;
}

.person.active {
  color: green;
}

.peopleList {
  padding: 15px 10px;
  position: relative;
  border: solid 1px silver;
  background-color: whitesmoke;
  margin-top: 5px;
  width: auto;
  box-shadow: 5px 5px 2px #888888;
}

.peopleSearchContainer input {
  padding: 10px 20px;
  font-size: 16px;
}

.peopleListContainer {
  height: 4em;
  overflow-y: scroll;
  border-top: dotted 1px #959595;
  border-bottom: dotted 1px #959595;
  position: relative;
}

.peopleListContainer.noScroll {
  overflow-y: visible;
}

.showMore {
  text-align: center;
  padding: 5px 10px;
  opacity: 0.7;
}

.showMore.hidden {
  opacity: 0;
}

.clearBtn {
  margin-left: 5px;
  padding: 7px 15px;
}
